[Unit]
Description=Start WPA supplicant
After=systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/share/wlan/start-wpa-supplicant.sh

[Install]
WantedBy=network.target
